.main-nav {
    background-color: #212121;
    width: 100%;
    height: 40px;
    text-align: center;
    li {
        display: inline-block;
    }
    .logo {
        color: #BDBDBD;
        font-size: large;
        margin-top: 8px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212121;
}

li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #111;
}