.home {
    ul {
        margin: 0 0 20px 0;
    }
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    background-color: #424242;
}

.open>.dropdown-menu {
    background: #212121;
}

section .section-title {
    text-align: center;
    color: #BDBDBD;
    font-size: 80px;
    text-transform: uppercase;
}

.mini {
    text-align: center;
    color: #BDBDBD;
    font-size: 27px;
}

#what-we-do .card {
    padding: 1rem !important;
    border: none;
    color: #BDBDBD;
    font-family: 'Exo 2';
    background: #424242;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    &:hover {
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }
    .card-block {
        padding-left: 50px;
        position: relative;
        a {
            color: #007b5e !important;
            font-weight: 700;
            text-decoration: none;
            i {
                display: none;
            }
        }
    }
    &:hover .card-block a i {
        display: inline-block;
        font-weight: 700;
    }
    .card-block:before {
        font-family: FontAwesome;
        position: absolute;
        font-size: 39px;
        color: #212121;
        left: 0;
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
    }
    .block-1:before {
        content: "\f0e7";
    }
    .block-2:before {
        content: "\f0eb";
    }
    .block-3:before {
        content: "\f00c";
    }
    .block-4:before {
        content: "\f209";
    }
    .block-5:before {
        content: "\f0a1";
    }
    .block-6:before {
        content: "\f218";
    }
    &:hover .card-block:before {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }
}.open > .dropdown-menu {
    background: #212121;
  }